extend layout

block content
  #info
    h1 node.js + socket.io
    #users connections: 
      #connections
    #press pressed_key:
      #key 
    br
    ドラッグで線を描けます。

  canvas#canvas(width="600px", height="400px")
