/** UTF-8 日本語 **/
body {
  padding: 0;
  margin: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: #f3f3f3;
}
.friend {
  width: 16px;
  height: 16px;
  background: url("../images/cursor_arrow_16.png");
  position: absolute;
  z-index: 9000;
  pointer-events: none;
}
#users {
  display: inline;
}
#connections {
  display: inline;
}
#press {
  display: inline;
}
#key {
  display: inline;
}
