/** UTF-8 日本語 **/
body
  padding: 0
  margin: 0
  font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif
  background-color: #F3F3F3

h1
  margin: 0

.friend
  width: 16px
  height: 16px
  background: url('../images/cursor_arrow_16.png')
  position: absolute
  z-index: 9000
  pointer-events: none

#info
  position: absolute
  z-index: 100
  top: 0
  left: 0
#users, #connections, #press, #key
  display: inline
  margin-left: 10px

#canvas
  position: absolute
  z-index: 200
  border-width: 1px
  border-style: solid
  border-color: black

